#content
	%h1 What is that?
	%p It's all in the name! Enter an amount, and you'll know what you can get at McDonalds for that. If you don't like something, just click on it and say "I'm not lovin' it".
	%p
		If you want more techniquy details about the website, you can check out my&nbsp;
		%a{:href=>'http://www.uponmyshoulder.com/blog/2010/so-what-could-i-get-at-mcdonalds-com/', :title=>'Said blog post'}>blog post about it
		\. Spoilers: it's full of&nbsp;
		%a{:href=>'http://www.gemsoul.com/images/articles/ruby-lot.jpg', :title=>'Ruby!'}>Ruby
		, based on&nbsp;
		%a{:href=>'http://www.shockya.com/news/wp-content/uploads/frank_sinatra_photo.jpg', :title=>'Sinatra!'}>Sinatra
		, and uses pretty Haml and Sass templates.
	%p And if you still wonder: no, this website is not affiliated to McDonalds Corporation in any way. All trademarks and logos and item names are probably registered, and should not be used without authorization, as I'm doing right now. Don't tell on me!
	%h1 Where am I?
	%p You are at SoWhatCouldIGetAtMcDonalds.com (hopefully).
	%h1 Who are you?
	%p My name is Florent Delannoy. Nice to meet you!
	%h1 Okay, send me back to the main page!
	%p
		%a{:href=>'/'} Consider it done!

